<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connectionString_ADO" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=S:\3 Курс\WPF\WPF_labs\lab5\lab5\Data\Lab5DB.mdf;Integrated Security=True" />
  <add name="Lab5DBEntities" connectionString="metadata=res://*/Data.ClientEDM.csdl|res://*/Data.ClientEDM.ssdl|res://*/Data.ClientEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Lab5DB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>